@import './buttons.css';
@import './progress-bar.css';
body {
    background-color: #26B4BC;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    max-inline-size: 900px;
    margin: auto;
}

.player {
    position: relative;
}

.player-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 0.3s opacity;
}

.player:hover .player-overlay {
    opacity: 1;
}

.video {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    vertical-align: middle;
}

.player-title {
    color: #fff;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}

.player-actions {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 32px;
}